<mat-card>
    <mat-card-title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<section id="contact">
    <div class="section-inner">
        <h2>Contact me!</h2>
        <h3>You can find me on:</h3>
        <ul class="social-menu">
            <div class="social">
                <a href="https:/facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="https:/twitter.com"><i class="fab fa-twitter"></i></a>
                <a href="https:/instagram.com"><i class="fab fa-instagram"></i></a>
                <a href="https:/youtube.com"><i class="fab fa-youtube"></i></a>
                <a href="https:/github.com"><i class="fab fa-github"></i></a>
              </div>
        </ul>
        <p>Or, you can call or text <a href="cellphone number">09498486437</a></p>
    </div>
</section>
    </mat-card-title>
</mat-card>