<mat-card>
    <mat-card-title>
      <div class="section-inner">
        <tr><th>
            <img src="../../assets/9.jpg" alt="background" width="350px" height="350px">
            <img src="../../assets/9.jpg" alt="background" width="350px" height="350px">
            <img src="../../assets/9.jpg" alt="background" width="350px" height="350px">
        </th></tr>  
            <h1><b>"ALL ABOUT ME"</b></h1>
            <h2><b>Hello I am Chariebell, I live in Pinamopoan Capoocan, Leyte, I am the youngest child of the three siblings.
                <br> I have two pets, my favorite color is blue, my hobby is dancing, A 3rd year student.
                <br> Taking Bachelor of Science Information Technology (BSIT) at Eastern Visyas State University Carigara Campus, Carigara Leyte.</b>
            </h2>

        </div>
    </mat-card-title>
</mat-card>